.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid orange;
    margin: 125px;
    padding: 100px;
   
}
.container p{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    border:2px solid orange;
    background-color: #FFF;
    padding: 10px;
    border-radius: 0.5rem;
}
.container h2{
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    padding: 20px;
}
